* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.object {
  width: 100vw;
  height: auto;
  max-height: 100vh;
  aspect-ratio: 4 / 3;
  max-width: calc(100vh * (4 / 3));
}
